---
import Layout from '../../layouts/layout.astro'
---

<Layout title="회사소개" bgImage="/logo.png">
  <div class="flex justify-center items-center h-screen">
    <h1 class="text-4xl font-bold">인사말</h1>
  </div>
</Layout>
