---
import Layout from '../../layouts/layout.astro'
---

<Layout
  title="인사말"
  bgImage="https://images.unsplash.com/photo-1692185175217-6714aefe7ac9"
>
  <div class="flex justify-center items-center">
    <h1 class="text-4xl font-bold">사업범위</h1>
  </div>
</Layout>
