---
import Layout from '../../layouts/layout.astro'
---

<Layout category="business">
  <div class="max-w-6xl mx-auto flex flex-col items-center py-16">
    <h1 class="text-3xl md:text-4xl font-bold mb-16">업무절차</h1>
  </div>
</Layout>
