---
import Layout from '../../layouts/layout.astro'
---

<Layout category="customer">
  <div class="flex flex-col items-center py-16">
    <h1 class="text-3xl md:text-4xl font-bold mb-8">오시는길</h1>

    <div class="max-w-6xl w-full">
      <div class="mt-8
        border-2 border-gray-300 rounded-lg">
        <div
          id="daumRoughmapContainer1734750680429"
          class="root_daum_roughmap root_daum_roughmap_landing"
        >
        </div>
      </div>
    </div>
  </div>
</Layout>

<script
  charset="UTF-8"
  class="daum_roughmap_loader_script"
  src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<script charset="UTF-8">
  const mapWidth = window.innerWidth > 768 ? '1152' : '412'
  const mapHeight = window.innerWidth > 768 ? '440' : '360'

  new daum.roughmap.Lander({
    timestamp: '1734750680429',
    key: '2mk94',
    mapWidth: mapWidth,
    mapHeight: mapHeight,
  }).render()
</script>
