---
import Layout from '../../layouts/layout.astro'
---

<Layout category="customer">
  <div class="flex justify-center items-center h-screen">
    <h1 class="text-4xl font-bold">공지사항</h1>
  </div>
</Layout>
