---
import Layout from '../../layouts/layout.astro'
---

<Layout category="customer">
  <div class="max-w-6xl mx-auto flex flex-col items-center py-16">
    <h1 class="text-4xl font-bold mb-16">언론보도</h1>
  </div>
</Layout>
