---
import Layout from '../layouts/layout0.astro'
---

<Layout>
  <div class="flex justify-center items-center h-screen">
    <h1 class="text-4xl font-bold">SCV 파트너스</h1>
    <p>
      <a href="/company/greetings">π</a>
    </p>
  </div>
</Layout>
