---
const currentPath = Astro.url.pathname

type MenuCategory = 'company' | 'business' | 'customer'
const { category = 'company' } = Astro.props as { category: MenuCategory }

import { submenu } from './menu'

const submenus = submenu[category]
---

<div
  class="-mt-8
  flex
  justify-center
  items-center
  text-white
  font-bold
  text-sm md:text-xl"
>
  {
    submenus.map((item) => (
      <a href={item.link}>
        <div
          class={`${
            currentPath.includes(item.link) ? 'bg-primary' : 'bg-gray-500'
          } px-6 py-3 md:px-10 md:py-4 
           border-l-2 border-white first:border-l-0 
           hover:underline underline-offset-4`}
        >
          {item.name}
        </div>
      </a>
    ))
  }
</div>
