<div class="flex justify-center items-center text-white font-bold text-xl">
  <div class="bg-red-500 px-24 py-4">인사말</div>
  <div class="bg-gray-500 px-24 py-4">회사개요</div>
  <div class="bg-gray-500 px-24 py-4">오시는길</div>
</div>
